ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1ch;
}

li {
  border: solid 1px black;
}

header {
  background-color: #65a6eb;
  color: white;
  width: 500px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

table {
  width: 500px;
  text-align: center;
  border: none;
}

th {
  border: none;
  padding: 10px;
  text-decoration: underline;
}
td {
  border: none;
  padding: 10px;
}
